#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: alvarobarbery # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDlwKtDXZou5Pcjhpi8W5gGekvhBzmmyyWnAG7BtXdn4kR6Ne99/ChpNdotmwL7xN4DUgmyya/G4sUwNtDITizz8HVflPr4iftNSTOIYbwz+4LylQRWnzCkHTSAfFwUa9iL/I3vP2Z9y15l+QBtF9C8EF6//9FqPy2mHwGVOzm4xCcXkUO/MNPw6/CJpKsf1yA6FYNlYlk0W4ammziRA5AD2kO2lYimMjSXLr7OUGvp/oGfEJ1w98Sji2CU+VCtiV0C2yr8WMbbYW4rN0bQC/2LgHhQXvR5YtGI9/q5ffH3oKDrXQ/bMlqq7g5O6dbfousKNVtioap1n7dh22aOKq29 alvarobarbery@alvarobarbery-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
